<div class="card">
    <div class="card-body">
        <form [formGroup]="formUser" (ngSubmit)="procesar()">
            <div class="mb-2">
                <label class="form-label">
                    Nombre
                </label>
                <!-- [formControl]="name" sincronizamos éste input con una propiedad name -->
                <!-- <input type="text" class="form-control" placeholder="Ingrese su nombre" 
                    [formControl]="name"> -->
                <input type="text" class="form-control" placeholder="Ingrese su nombre"
                    formControlName="name">
            </div>
            <!-- <div class="alert alert-danger"
                [hidden]="formUser.name.valid || name.pristine"> -->
            <!-- <div class="alert alert-danger" [hidden]="formUser.get('name')?.valid || formUser.get('name')?.pristine"> -->
            <!-- <div class="alert alert-danger" [hidden]="name?.valid || name?.pristine"> -->
            <div class="alert alert-danger" [hidden]="name.valid || name.pristine">
                El nombre es obligatorio
            </div>
            <div class="mb-2">
                <label class="form-label">
                    Edad
                </label>
                <!-- [formControl]="email" sincronizamos éste input con una propiedad email -->
                <!-- <input type="email" class="form-control" placeholder="Ingrese su edad"
                    [formControl]="email"> -->
                <input type="email" class="form-control" placeholder="Ingrese su edad"
                    formControlName="email">
            </div>
            <!-- <div class="alert alert-danger"
                [hidden]="email.valid || email.pristine"> -->
            <!-- <div class="alert alert-danger"
                [hidden]="formUser.get('email')?.valid || formUser.get('email')?.pristine"> -->
            <!-- <div class="alert alert-danger" [hidden]="email?.valid || email?.pristine"> -->
            <div class="alert alert-danger" [hidden]="email.valid || email.pristine">
                <!-- <span *ngIf="email.errors?.['required']"> -->
                <!-- <span *ngIf="email?.errors?.['required']"> -->
                <span *ngIf="email.errors?.['required']">
                    El email es obligatorio
                </span>
                <!-- <span *ngIf="email.errors?.['email']"> -->
                <!-- <span *ngIf="email?.errors?.['email']"> -->
                <span *ngIf="email.errors?.['email']">
                    El email debe ser válido
                </span>
            </div>
            <!-- <button class="btn btn-primary" 
                [disabled]="name.invalid || email.invalid"> -->
            <button class="btn btn-primary" [disabled]="formUser.invalid">
                Enviar
            </button>
        </form>
    </div>
</div>

<!-- Para decirle que se sincronize con la propiedad name e email, pero 
de nuestro grupo formUser, en lugar de usar [formControl]="propiedad" 
usaremos formControlName="propiedad" dentro del html.
    Con ésto lo que va ha hacer angular es verificar a que grupo 
pertenece dentro del formulario (irá subiendo de nivel hasta encontrarse 
con el atributo [formGroup]="nombreGrupo", así entiende las propiedades 
definidas con formControlName="propiedad" pertenecen a ese grupo).
    Por lo tanto de ésta forma sincronicará las propiedades definidas 
dentro del grupo en el archivo .ts con las propiedades asociadas 
mediante el atributo formControlName detro del html. -->
<!-- Para ver las propiedades de formUser usamos value: -->
{{ formUser.value | json }}
<br>
<!-- Para poder acceder de forma individual a cada una de las propiedades 
del grupo formUser usamos nombreGrupo.get('propiedad').value: -->
{{ formUser.get('name')?.value }}
<br>
{{ formUser.get('email')?.value }}
