<div class="card">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" #formContact="ngForm">
            <div>
                <label class="form-label">
                    Nombre:
                </label>
                <input type="text" name="nombre" class="form-control" 
                    placeholder="Ingrese nombre"
                    [(ngModel)]="persona.nombre"
                    required
                    #name="ngModel">
            </div>
            <!-- <div class="alert alert-danger mt-2" [hidden]="name.valid"> -->
            <div class="alert alert-danger mt-2" [hidden]="name.valid || name.pristine">
                El nombre es obligatorio
            </div>
            <div>
                <label class="form-label">
                    Edad:
                </label>
                <input type="number" name="edad" class="form-control" 
                    placeholder="Ingrese edad"
                    [(ngModel)]="persona.edad"
                    required
                    #edad="ngModel">
            </div>
            <div class="alert alert-danger mt-2" [hidden]="edad.valid || edad.pristine">
                La edad es obligatoria
            </div>
            <!-- <button class="btn btn-primary mt-2" [disabled]="true">Enviar</button> -->
            <!-- <button class="btn btn-primary mt-2" [disabled]="!name.valid">Enviar</button> -->
            <!-- <button class="btn btn-primary mt-2" [disabled]="name.invalid">Enviar</button> -->
            <!-- <button class="btn btn-primary mt-2" [disabled]="name.invalid || edad.invalid">Enviar</button> -->
            <button class="btn btn-primary mt-2" [disabled]="formContact.invalid">Enviar</button>
        </form>
    </div>
</div>

<!-- Otro problema añadido es que aunque no se cumplan las validaciones, me deja enviar el 
formulario (a través de (ngSubmit)="onSubmit()"). -->
<!-- Para acceder a los estados de los formularios añadimos una variable de plantilla al 
formulario.
    #formContact="ngForm"
 -->
<!-- formX.valid: boolean, muestra si todos los inputs cumplen con todas las reglas de validación. -->
{{ formContact.valid }}
